.project-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .project-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  .project-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .project-container:hover .project-image {
    transform: scale(1.1);
  }